/*****
 * Register.vue
 *****/

.bg-order-code {
  background: url("./assets/images/index_banner_carousel_2.jpg") center
    center/cover;
}

.progress-thin {
  height: 3px;
  position: fixed;
  top: 56px;
  width: 100%;
}

/*****
 * Check.vue
 *****/

.bill-title {
  color: $dark-color;
  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    margin: 10px auto;
    background-color: $main-color;
  }
}
.bill-detail {
  td {
    padding: 0.25rem;
    &:last-child {
      text-align: right;
    }
  }
  tfoot td {
    padding-top: 0.75rem;
    border-top: 1px solid $dark-color;
  }
}

.adjust-qty {
  width: 60px;
  .adjust-qty__add {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .adjust-qty__input { border-radius: 0 }
  .adjust-qty__subtract {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

/*****
 * OrderCode.vue
 *****/

.table-transparent {
  max-width: 400px;
  background: transparent;
  & td,
  & th,
  & thead th {
    border-color: transparent;
    border-width: 3px;
    background: rgba(#fff, 0.8);
    background-clip: padding-box;
  }
}
.no-break {
  white-space: nowrap;
}
