/****
 * REUSEABLE PART
 ****/

.section {
  padding: 40px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 45px;
  color: darken($primary, 35%);
  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    background-color: lighten($primary, 25%);
  }
}

.w-90 {
  width: 90% !important;
}

.icons {
  position: absolute;
  right: 20px;
  top: 20px;
  @include media-breakpoint-up(md) {
    right: 10px;
    top: 10px;
  }
  & > li {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }
}

/*****
 * BANNER
 ****/

.slogan {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  .slogan__content {
    border-radius: 10px;
    background-color: rgba($dark, 0.5);
    padding: 1.2rem;
    margin-bottom: 2rem;
  }
}

.carousel-img {
  height: 100vh;
}

/****
 * COPYWRITING
 ****/

.features {
  margin: 0 auto;
  & > li {
    margin-bottom: 15px;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
}

/***
 * LIST OF NEW ITEMS
 ***/

.section-new-items {
  background-color: rgba($dark, 0.1);
  padding: 20px 0;
}

.slide-left, .slide-right {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* altered style of tiny slider */
.tns-nav {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  [data-nav] {
    border-radius: 50%;
    width: 0;
    height: 0;
    border: 0;
    &:focus {
      outline: none;
    }
    background-color: $dark;
    padding: 5px;
    transition: background-color 0.4s;
    margin: 0 5px;
  }
  .tns-nav-active {
    background: $primary;
  }
}

/******
 * RECOMMANDATION
 ******/

.section-recommand {
  background: rgba($dark, 0.7) url("./assets/images/index_comments.jpg") center
    center fixed;
  background-size: cover;
  background-blend-mode: multiply;
  .section-title {
    color: lighten($primary, 45%);
  }
  .blockquote {
    position: relative;
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
    &::before {
      content: "❝";
      display: block;
      position: absolute;
      top: -80px;
      z-index: 1;
      color: rgba($white, 0.3);
      font-size: 8rem;
    }
  }
  .blockquote-footer {
    color: $gray-400;
  }
}

/******
 * COUPON
 ******/

.coupon-evt__img {
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 9px 3px $primary;
  @include media-breakpoint-up(md) { margin: 30px 0; }
}

.coupon-evt__info--title {
  position: relative;
  color: darken($primary, 35%);
  z-index: 2;
  font-size: 2rem;
  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 3rem;
  }
  &::before {
    content: "";
    display: block;
    height: 40%;
    width: 100%;
    background-color: rgba($primary, 0.3);
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}
