// Structure of product page
.p-banner {
  background-position: center center;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba($light, 0.7);
  height: 150px;
  @include media-breakpoint-up(md) { height: 200px; }
  @include media-breakpoint-up(lg) { height: 300px; }
}

@each $category in $categories {
  .bg-#{$category} {
    background-image:url('./assets/images/products_#{$category}.jpg')
  }
}

.p-banner__category, .p-banner__description {
  color: $dark
}

.p-banner__category {
  font-size: 2rem;
}

.p-banner__description {
  font-size: 1.2rem;
}

// Product detail
.p-detail__name {
  font-size: 1.2rem;
}
.p-detail__name--brand {
  font-size: 1.15em;
  color: darken($primary, 10%)
}
.p-detail__name--collection {
  font-size: 1.25em;
  line-height: 1.2;
}

.p-detail__price--origin {
  text-decoration: line-through;
}
.p-detail__price--sale {
  font-size: 2em;
  color: $primary;
}

.p-qty {
  width: 150px;
}

.section-similar-items {
  background-color: darken($primary, 20%)
}
