$main-color: #ffa500;
$light-color: #fff8eb;
$dark-color: #453415;
$highlight-color: #15d16d;

$n-onsale: #F72585;

$categories: (
  'staple-food',
  'treats',
  'daily-life-utilities',
  'toys',
  'cat-care'
);


