.product-card {
  .product-card__img { transition: 0.5s transform }
  &:hover {
    box-shadow: 0 6px 5px rgba($dark, 0.1);
    cursor: pointer;
    .product-card__img { transform: scale(1.3) }
  }
}

.product-tags {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  font-size: 1.5rem;
  @include media-breakpoint-up(md) {
    font-size: 1.2rem;
  }
}

.badge-bestseller {
  background-color: $n-onsale;
  color: color-yiq($n-onsale);
}

.badge-picked {
  background-color: $primary;
  color: color-yiq($primary);
}

.badge-new {
  background-color: darken($success, 5%);
  color: color-yiq($success);
}

.product-info__brand {
  color: darken($primary, 20%);
  font-size: 0.9rem;
  @include media-breakpoint-up(md) {
    font-size: 1rem;
  }
}
.product-info__collection {
  font-size: 1.5rem;
  color: $dark;
  line-height: 1.2;
  @include media-breakpoint-up(md) {
    font-size: 1.2rem;
  }
}

.product-info__price {
  color: $primary;
  font-weight: bold;
  font-size: 1.5rem;
  @include media-breakpoint-up(md) {
    font-size: 1.3rem;
  }
}