.cart-list {
  width: 100%;
  height: 100%;
  max-width: 350px;
  pointer-events: auto;
}

.cart-list--modal-dialog {
  height: 100%;
  margin: 0 auto 0 0;
  width: fit-content;
  .modal.fade & {
    transform: translateX(-100%);
  }
  .modal.show & {
    transform: none;
  }
}

.table-wrap {
  overflow: auto;
}

.badge-discount {
  background-color: $highlight-color;
  color: color-yiq($highlight-color);
}