/****
 * Navbar
 ****/
 .p-nav {
  padding-top: 56px;
}

.layout-nav {
  z-index: $zindex-fixed;
  transition: color 0.5s, background-color 0.5s;
}

.layout-nav-mobile {
  width: 100%;
  max-width: 350px;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: $zindex-fixed;
  padding-top: 60px;
  transform: translateX(100%);
  transition: transform 0.5s;
}

.btn-nav {
  border-radius: 0;
  &:focus {
    box-shadow: none;
  }
}

.btn-nav__category {
  &::before {
    content: "";
    display: block;
    height: 1rem;
    width: 100%;
    height: 2px;
    background-color: $main-color;
    opacity: 0;
    transition: opacity 0.2s;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: 0;
  }
  &:hover::before {
    opacity: 1;
  }
}

.btn-nav__icon {
  &:hover,
  &:focus {
    color: $main-color;
  }
}

.prod-in-cart {
  right: 0;
  top: 0;
  pointer-events: none;
}

.btn-login-mobile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}